#header					/* styling of header of page */
{
	width:100%;
	/* background-color:#04B404;  green*/ 
    background-color:#1589FF; /*blue */
	border-style:ridge;
	border-color:blue;
    text-align: center;
}
img.images {
    display: block;
    margin-left: auto;
    margin-right: auto }
h3 { text-align: center; }

&.glow {
    +text-shadow(0 0 4px #ffffff);
}
.count2 {
    position: relative;
    margin: 40px 0;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);  
}
&.glow {
    +text-shadow(0 0 4px #ffffff);
}

.spacing
{
    padding:10px;
}

/*@media only screen and (min-width: 0px)  and (max-width: 800px){ */
/*COLOR DIVS + CONNECT TO EXTERNAL DB!!! MAKE 2 QUESTIONS */
/*#dropbox, #dropbox1,#dropbox2,#dropbox3,#dropbox4 { width: 45%; height: 40%; padding: 0.5em; float: left; margin: 10px; }
#drag1, #drag2, #drag3,#drag4 { width: 30%; height: 25%; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#followbtn { position: relative; left: 30px; top:50px}
#picture {position: relative; top:20px; left: 30px; padding:10px}
#content{position: relative; top:30px; bottom:10px; left: 20px; padding:10px}
#content h2 {font-size: 100%;}
.entireQArea 			/*styling for the entire question area - questions and answers */
/*{
	/*margin-top:10%; 
	width: 60%;
	height: 60%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
   /* border: 1px solid black; */
	/*padding:100px; */
	
/*}
/*
.count {
    position: relative;
    top:40px;
    left: 20px;
    margin: 40px 0;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}
#score {    position: relative;
    top:60px;
    left: 20px;
    }
}*/
/*@media only screen and (min-width: 801px) { */
/*COLOR DIVS + CONNECT TO EXTERNAL DB!!! MAKE 2 QUESTIONS */
#dropbox, #dropbox1,#dropbox2,#dropbox3,#dropbox4  { width: 100%; height: 100%; padding: 0.5em; float: left; margin: 2%; }
#drag1, #drag2, #drag3,#drag4 {width: 100%; height: 100%; padding: 0.5em; float: left; margin: 10px 10px 10px 10px; }
.entireQArea 			/*styling for the entire question area - questions and answers */
{
	/*margin-top:10%; */
	width: 50%;
	height: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
transform: translate(-50%, -50%);
    border: 1px solid black;
     text-align: center ;
    
	/*padding:100px; */
	
}
.rewardsarea 			/*styling for the entire question area - questions and answers */
{
	margin-top:15%;
	width: 50%;
	height: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
     text-align: center ;
    
	/*padding:100px; */
	
}
.dragdropgame2 			/*styling for the entire question area - questions and answers */
{
	margin-right:20%;
	width: 50%;
	height: 40%;
    position: absolute;
    top: 145%;
    left: 20%;
     /*  border: 1px solid black; */
	/*padding:100px; */
	
}
.sengame3			/*styling for the entire question area - questions and answers */
{
	margin-top:7%;
    margin-left:3%;
	width: 70%;
	height: 55%;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  /*    border: 1px solid black; */
	/*padding:100px; */
	
}
.endofgame 			/*styling for the entire question area - questions and answers */
{
	margin-top:20%;
	width: 50%;
	height: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    border: 1px solid black;
    text-align:center;
	/*padding:100px; */
	
}
.dragdropgame2dropbox 			/*styling for the entire question area - questions and answers */
{
margin-top:7%;
		/*margin-top:10%; */
	width: 45%;
	height: 20%;
    position: absolute;
    top: 50%;
    left: 30%;

	/*padding:100px; */
     border: 1px solid black;
	
}
.answerhintgame2
{
margin-top:7%;
		/*margin-top:10%; */
	width: 20%;
	height: 20%;
    position: absolute;
    top: 0%;
    left: 45%;
    font-size:32px;
    text-align:center;

	/*padding:100px; */
     border: 1px solid black;
	
}
.dragdropgame2drag 			/*styling for the entire question area - questions and answers */
{
	margin-top:7%;
		/*margin-top:10%; */
	width: 45%;
	height: 20%;
    position: absolute;
    top: 30%;
    left: 30%;

	/*padding:100px; */
     border: 1px solid black;
	
}
.startgame1 			/*styling for the entire question area - questions and answers */
{
	margin-top:30%;
	width: 50%;
	height: 50%;
    position: absolute;
    top: 0%;
    left: 30%;
     /*  border: 1px solid black; */
	/*padding:100px; */
	
}
.dragdropgame1 			/*styling for the entire question area - questions and answers */
{
	margin-right:20%;
	width: 50%;
	height: 40%;
    position: absolute;
    top: 300%;
    left: 20%;
     /*  border: 1px solid black; */
	/*padding:100px; */
	
}
.imagearea 			/*styling for the entire question area - questions and answers */
{

	width: 40%;
	height: 100%;
    position: absolute;
    top: 110%;
    left: 30%;
    /*  border: 1px solid black; */
	/*padding:100px; */
	
}

.imagelessonarea 			/*styling for the entire question area - questions and answers */
{
	margin-top:5%;
	width: 50%;
	height: 50%;
    position: absolute;
    top: 100%;
    left:28%;

    /*  border: 1px solid black; */
	/*padding:100px; */
	
}
.questionarea 			/*styling for the entire question area - questions and answers */
{
	/*margin-top:10%; */
	width: 55%;
	height: 10 %;
    position: absolute;
   top: 250%;
    left: 20%;
 /*  border: 1px solid black; */
	/*padding:100px; */
	
}

.possibleanswers3 			/*styling for the entire question area - questions and answers */
{
    margin-top:0.5%;
	margin-left:10%;
    margin-right:10%;
	width: 20%;
	height: 50 %;
    position: absolute;
  top: 150%;
    left: 40%;
    transform: translate(-50%, -50%);
 /* border: 1px solid black; */
	/*padding:100px; */
	
}
#answers 			/*styling for the entire question area - questions and answers */
{text-align: center;}
	
.questionarea2 			/*styling for the entire question area - questions and answers */
{
	/*margin-top:10%; */
	width: 55%;
	height: 10 %;
    position: absolute;
    top: 100%;
    left: 23%;
   border: 1px solid black;
	/*padding:100px; */
	
}
.helparea 			/*styling for the entire question area - questions and answers */
{
	/*margin-bottom:200%;*/
	width: 30%;
	height: 100%;
    position: absolute;
    bottom: -660%;
    left:-10%;

  /* border: 1px solid black; */
	/*padding:100px; */
	
}
.helparea2			/*styling for the entire question area - questions and answers */
{
	/*margin-bottom:200%;*/
	width: 30%;
	height: 100%;
    position: absolute;
    bottom: -660%;
    left:-10%;

  /* border: 1px solid black; */
	/*padding:100px; */
	
}

.scorearea 			/*styling for the entire question area - questions and answers */
{
	width: 20%;
	height: 20%;
    position: absolute;
    top: 100%;
    left: 80%;
    /*  border: 1px solid black; */
	/*padding:100px; */
	
}

.progressbararea 			/*styling for the entire question area - questions and answers */
{
	margin-bottom:10%;
	width: 10%;
	height: 70%;
    position: absolute;
top: 300%;
    left: 90%;
     /*border: 1px solid black;*/
	/*padding:100px; */
	
}
.clockarea 			/*styling for the entire question area - questions and answers */
{
	/*margin-top:10%; */
	width: 30%;
	height: 20%;
    position: absolute;
      top: 650%;
    left: 25%;
 
   /*  border: 1px solid black; */
	/*padding:100px; */
	
}
.lessonarea 			/*styling for the entire question area - questions and answers */
{
	margin-top:11%;
	width: 70%;
	height: 60%;
    position: absolute;
    top: 125%;
    left: 15%;
      margin-top:20%;
    border: 1px solid black;
	/*padding:100px; */
	
}
.count {
    position: relative;
    top:20%;
    left: 40%;
    margin: 40px 0;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
   /* padding: 10px; */
}
.countresult {
   margin: 40px 0;
    position: relative;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}
.countresult2{
    position: relative;
    margin: 40px 0;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}
.countresult3{
    position: relative;
    margin: 40px 0;
    padding: 14px 16px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    +border-radius(4px);
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}
.next 			/*styling for the entire question area - questions and answers */
{
	/*margin-top:10%; */
	margin-top:1%;
   height: 100%;
    position: absolute;
     bottom: -620%;
    right:20%;
    position: absolute;
    /*  border: 1px solid black; */
   
	/*padding:100px; */
	
}
.next2 			/*styling for the entire question area - questions and answers */
{
	/*margin-top:10%; */
	margin-top:1%;
   height: 100%;
    position: absolute;
     bottom: -620%;
    right:20%;
    position: absolute;
    /*  border: 1px solid black; */
   
	/*padding:100px; */
	
}
.everything 			/*bug needs fixing*/
{
	/*margin-right:-30%; */
	width: 80%;
	height: 80%;
    position: absolute;

    /*  border: 1px solid black; */
   
	/*padding:100px; */
	
}
#content{text-align: center;}
#startofgame1{font-size:18px; text-align: center;}
#followbtn { position: relative; left: 100%; top: 50%; font-size:32px; }
#picture
{
     margin: 0 auto;
     top: 100px;
     left: 100px;
      height: 100%;
      width: 100%;
}
#score {    position: absolute;
    top:10%;
    left: 40%;
    font-size:20px;
    }
    #scoreresult {    position: relative;
    top:0px;
    
    font-size:22px;
    }
        #scoreresultwin {    position: relative;
    top:0px;
    
    font-size:22px;
    }
    
            #lessoncontent {    position: relative;
    top:0px;
    
    }
    
  #heading {    
  
        text-align: center;
    }
  #image {    
  
     margin: 0 auto;
    }
/*}*/
.button {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
}

#jp-play
{
    color: #fff;
    background-color: #007aff;
    border-color: rgba(0, 110, 230, 0.61);
    padding:1%;
    
}
#jp-play.active, #jp-play.focus, #jp-play:active, #jp-play:focus, .open>.dropdown-toggle#jp-play {
    color: #fff;
    background-color: #0062cc;
    border-color: #0051a8;
}

#jp-repeat
{
    color: #fff;
    background-color: #007aff;
    border-color: rgba(0, 110, 230, 0.61);
    padding:1%;
    
}
#jp-repeat.active, #jp-repeat.focus, #jp-repeat:active, #jp-repeat:focus, .open>.dropdown-toggle#jp-repeat{
    color: #fff;
    background-color: #0062cc;
    border-color: #0051a8;
}



.header					/* styling of header of page */
{
    width:22%;
    background-color:#04B404;
	border-style:ridge;
	border-color:green;
    position: absolute;
    left:50%;
    right:50%;
    
}
.playerheader
{
	position: absolute;
    left:20%;    
    right:20%;
    width:20%;
    bottom:61%;
    background-color:#FF0000;
	border-style:ridge;
	border-color:red;
    
}
.player
{
	position: relative;
    left:20%;    
    right:20%;
    bottom: -40%;
    
}

.containerdono
{
	position: relative;
    left:50%;    
    right:50%;
    bottom: -11%;
    
    
}
#dropbox.correct				/*styling for when the user gets a drag and drop question correct */
{
	background-color:LightGreen;
}

#dropbox.incorrect 				/*styling for when the user gets a drag and drop question incorrect */
{
	background-color:Red; 
}
#dropbox1.correct				/*styling for when the user gets a drag and drop question correct */
{
	background-color:LightGreen;
}

#dropbox1.incorrect 				/*styling for when the user gets a drag and drop question incorrect */
{
	background-color:Red; 
}
#dropbox2.correct				/*styling for when the user gets a drag and drop question correct */
{
	background-color:LightGreen;
}

#dropbox2.incorrect 				/*styling for when the user gets a drag and drop question incorrect */
{
	background-color:Red; 
}
#dropbox3.correct				/*styling for when the user gets a drag and drop question correct */
{
	background-color:LightGreen;
}

#dropbox3.incorrect 				/*styling for when the user gets a drag and drop question incorrect */
{
	background-color:Red; 
}
#dropbox4.correct				/*styling for when the user gets a drag and drop question correct */
{
	background-color:LightGreen;
}

#dropbox4.incorrect 				/*styling for when the user gets a drag and drop question incorrect */
{
	background-color:Red; 
}
.change { background-color: yellow; }
#dropbox.c-widget-header {
  background-color: greenyellow;
}
#dropbox.state-active {
  background-color: greenyellow;
}


#textbox1{
  position: absolute;
  top: 120px;
  left: -25%;
   border: 5px solid black; width: 10%;
}
#textbox2{
  position: absolute;
  top: 120px;
 left: 25%;
 border: 5px solid black; width: 10%;
 
}
#textbox3{
  position: absolute;
 top:120px;
  left: 85%;
  border:  5px solid black; width: 10%;
}

#sentencefrag1{
  position: absolute;
  top: 120px;
  left: 3%;
 
}
#sentencefrag2{
  position: absolute;
  top: 120px;
left:45%;
}